	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("swfobject", "2.1");
    google.load("jquery", "1");  
    
  </script>

	<%= javascript_include_tag 'application.js', 'equiv.js' %>
	<%= stylesheet_link_tag 'http://www.propublica.org/css/master3.css', 'http://www.propublica.org/css/watchdog.css', 'application.css'%>

</head>
<body>


<div id="special-col">
  <h2 id="title"><%=title @tube.title%></h2>
  <div id="deck"><p><%= @tube.deck%></p></div>

  <div id="vid-tabs">
    <ul>
      <%# This means that divisions can only be one word, no special chars, grrr%>
    <% @tube.transcript.divisions.each_pair do |x, d| %><li><a href="#" id="tab-<%=d.name%>"><%= d.name %></a></li><% end %>
    </ul>
  </div>
  
  <div id="viewer" class="clearfix">

  	<div id="timeline">
  	  <div class="scrubber"></div>
  	  <div class="position"></div>    
    </div>
    <div id="vid-nav">
      <%["Next", "Previous"].each do |i| %>
        <a href="" class="<%= i.downcase %>"><%= i%></a>
      <%end%>
    </div>
    

    <div id="player_container">
      <div id="ytapiplayer">
        You need Flash player 8+ and JavaScript enabled to view this video.
      </div>
    </div>
    <div id="trans">
      <div id="extra"></div>
    </div>
    <div id="annotation"></div>
    
  </div>
  <div id="rail">
    <% @tube.transcript.divisions.each_pair do |x, d|%>
    <div class="<%= x.parameterize('').downcase %>">
    <p><strong><%= x %></strong></p>
    <ul>
      <% d.unique_entries_by_title.each do |e| %>
        <li><a class="index <%= e.title.parameterize('').downcase %>" href="#<%= e.range.to_seconds(:low) %>" class="index"><%= e.title %></a></li>
      <% end %>
    </ul>
    </div>
    <%end%>
  </div>
  <div id="tube_footer"><p><%= @tube.footer %></p></div>
</div>



<script type="text/javascript">
  var params = { allowScriptAccess: "always" };
  var atts = { id: "ytplayer" };
  swfobject.embedSWF("http://www.youtube.com/v/<%= @tube.youtube_id %>?enablejsapi=1&playerapiid=myytplayer", 
                     "ytapiplayer", "375", "305", "8", null, null, params, atts);
  
  
$.preloadImages(
'http://www.propublica.org/images/tubes/prev.jpg',
'http://www.propublica.org/images/tubes/next.jpg',
'http://www.propublica.org/images/tubes/prev-hover.jpg',
'http://www.propublica.org/images/tubes/next-hover.jpg'
);
    
  $.ajaxSetup({
    async: false
  });
  var trans = new Transcript('#timeline', '#trans', '#extra', '#vid-nav','#vid-tabs', '#rail', '#viewer', window.location);
  
  $(document).ready(function (){
    $.getJSON(trans.baseURL + ".json", function (data, textStatus) { 
      trans.setData(data, "<%=@tube.default%>");      
    });
  });
  
  
                     
  function onYouTubePlayerReady(playerId) {
  
    var ytplayer = document.getElementById('ytplayer'); // wow, ie6 I hate you.    
    trans.setPlayer(ytplayer);
    
    trans.seek(trans.hashSeconds);

    trans.setBounds(<%= @tube.duration %>);
    setInterval(updateytplayerInfo, 250);  
    trans.initted = true;
  }
  
  
  function updateytplayerInfo() {
    trans.draw(trans.player.getCurrentTime());
  }


</script>


